{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	{% include 'components/_navbar.html.twig'%}

=
		<div class="h-100 d-flex justify-content-center align-items-center" style="height: calc(100vh - 181px )!important;">
			<div class="container">
				<div class="row">
					<div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-lg-5">

						<!--Form with header-->
						<div class="card wow fadeIn" data-wow-delay="0.3s">
							<div
								class="card-body" style="background:#fff;">

								<!--Header-->
								<div class="form-header main-color">
									<h3>
										<i class="fas fa-user mt-2 mb-2"></i>
										Se connecter</h3>
								</div>

								<!--Body-->
								{% if error %}
									<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
								{% endif %}
								<div class="p-2">
									<form method="post">
										<div class="form-group">
											<label for="inputEmail" class="required">Ton email</label>
											<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
											</div>
										<div class="form-group">
											<label for="inputPassword" class="required">Ton mot de passe</label>
											<input type="password" name="password" id="inputPassword" data-toggle="password" class="form-control" required>
											</div>
										<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
										<div class="text-center">
											<button type="submit" class="btn main-color white-text btn-lg waves-effect waves-light">Se connecter</button>
										</div>
									</form>
								</div>
							</div>
							<!--/Form with header-->

						</div>
					</div>
				</div>
			</div>
			</div>
			 {% include "components/_footer.html.twig" %}

	{% endblock %}
