{% extends 'base.html.twig' %}

{% block title %}S'inscrire
{% endblock %}

{% block body %}
	{% include 'components/_navbar.html.twig'%}
	<!--Intro Section-->
		<div class=" h-100 d-flex justify-content-center align-items-center" style="height: calc(100vh - 157px )!important;">
			<div class="container">
				<div class="row">
					<div
						class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-lg-5">

						<!--Form with header-->
						<div class="card wow fadeIn" data-wow-delay="0.3s">
							<class="card-body">

								<!--Header-->
								<div class="form-header main-color">
									<h3>
										<i class="fas fa-user mt-2 mb-2"></i>
										S'inscrire</h3>
								</div>

								<!--Body-->

								<div class="p-3">
									{{ form_errors(registrationForm) }}
									{{ form_start(registrationForm) }}
									{{ form_row(registrationForm.email) }}
									{{ form_row(registrationForm.pseudo) }}
									{{ form_widget(registrationForm.password) }}
									{{ form_widget(registrationForm.cdn) }}
									<div class="text-center">
										<button type="submit" class="btn main-color white-text btn-lg">S'inscrire</button>
									</div>
									{{ form_end(registrationForm) }}
								</div>

							</div>
						</div>
						<!--/Form with header-->

					</div>
				</div>
			</div>
		</div>

		 {% include "components/_footer.html.twig" %}


	{% block javascript %}{% endblock %}

{% endblock %}
