html,
body,
.view {
  height: calc(100vh - 62px);
}

body{
    background-color:white!important;
}

.btn-primary{
    background-color:#CC7934!important;
}

.sf-toolbar{
  display:none!important;
}

@media (max-width: 740px) {
  html,
  body,
  .view {
    height: 815px;
  }
  
  textarea {
    overflow: auto;
    resize: none!important;
}

  .card{
    margin-top: 0px;
    flex-direction: column!important;
  }
  .card-img-top{
      width: 100%;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  .view  {
    height: 650px;
  }
  
  .card{
    margin-top: 0px;
    flex-direction: column!important;
  }
  .card-img-top{
      width: 100%;
  }
}
@media screen and (max-width: 640px) {
    .card{
        margin-top: 0px;
        flex-direction: column!important;
      }
      .card-img-top{
          width: 100%;
      }
      
  }

.active::before {
    color: #4285f4!important;
}

.intro-2 {
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img%20(11).jpg")no-repeat center center;
    background-size: cover;
}
.top-nav-collapse {
    background-color: #CC3447 !important;
}

.card {
    background-color: rgba(229, 228, 255, 0.2);
}
.md-form label {
    color: #ffffff;
}
h6 {
    line-height: 1.7;
}
.card-body{
    background: #212121;
}

.card-article {
    margin-top: 100px;
    display: flex;
    flex-direction: row!important;
    /*margin-bottom: -45px;*/

}

.card-text > span{
    color: sandybrown;
    font-style: oblique;
}

.card-img-top{
    width: 30%!important;
}

.md-form input[type=text]:focus:not([readonly]),
.md-form input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #8EDEF8;
    box-shadow: 0 1px 0 0 #8EDEF8;
}
.md-form input[type=text]:focus:not([readonly])+label,
.md-form input[type=password]:focus:not([readonly])+label {
    color: #8EDEF8;
}

.md-form input{
    color:white!important;
}

.md-form .form-control {
    color: #fff;
}

.main-color{
    background:#CC7934!important;
}

.form-control {
    color:#000!important;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #212121;
    overflow-x: hidden;
    padding-top: 65px;
    text-align: center;
    color:#fff;
}

.sidebar-sticky{
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: hidden;
}

.checkbox-group{
    text-align: justify;
    padding-bottom: 10px;
}

.radio-panel{
    text-align: justify;
    padding-left:20px;
    padding-bottom: 10px;
}

.article-tags{
    text-align: center;
}

.article-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
}

.article-thumbnail{
    width: auto;
    height: 100%;
    float: left;
    padding-right: 10px;
}


.article-tags{
    color: #CC7934;
}


.card-body-white{
    background-color: #fff!important;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
