{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Wikiskills
{% endblock %}

{% block body %}
	{% include 'components/_navbar.html.twig'%}
	{% include 'components/_filter.html.twig'%}
	<div class="container" style="min-height: 100vh;">
		<div class="row-flex">
			<div class="col-md-9 ml-sm col-lg-10 px-4ol">
				<h1 class="mt-5">Tous les articles ({{articles | length}})</h1>
				{% include "components/_errors.html.twig" %}
				{% for article in articles %}
					<div
						class="card mt-5 card-article">

						<!-- Card image -->
						<img
						class="card-img-top" src="{{ article.image }}" alt="Card image cap">

						<!-- Card content -->
						<div
							class="card-body white-text">

							<!-- Title -->
							<h4 class="card-title">
								<a>{{ article.title|length > 60 ? article.title|slice(0, 60) ~ '...' : article.title }}</a>
							</h4>
							<!-- Text -->

							<p class="card-text">
								<div class="chip">
									<img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="Contact Person">
									@{{article.pseudo}}
								</div>
							</p>
							<p class="card-text">Crée le
								{{article.date_publication | date("d/m/Y à h:s")}}</p>
							<p class="card-text">Catégorie :
								<span>{{article.name}}</span>
							</p>
							<p class="card-text">{{ article.content|length > 50 ? article.content|slice(0, 50) ~ '...' : article.content  }}</p>
							<!-- Button -->

							<div class="form-group">
								<a href="{{ path('show_article', {'id':article.id}) }}" class="btn btn-md main-color">En savoir plus</a>
							</div>
						</div>
					</div>
					{% endfor %}
			</div>
		</div>
	</div>
	{% include "components/_footer.html.twig" %}
{% endblock %}
