{% extends "base.html.twig" %}

{% block body %}

	{% include "components/_navbar.html.twig" %}

		<div class=" h-100 d-flex justify-content-center align-items-center" style="height: calc(100vh - 157px)!important;">
			<div class="container">
				<div class="row">
					<div
						class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-lg-5">

						<!--Form with header-->
						<div class="card wow fadeIn" data-wow-delay="0.3s">
							<class="card-body">

								<!--Header-->
								<div class="form-header main-color">
									<h3>
										<i class="fas fa-book mt-2 mb-2"></i>
										Nouveau article</h3>
								</div>

								<!--Body-->

								<div class="p-3">
									{{ form_errors(newArticleForm) }}
									{{ form_start(newArticleForm) }}
									{{ form_row(newArticleForm.title) }}
									{{ form_row(newArticleForm.content,{attr:{style:'resize: none!important;',rows:'8'}}) }}
									{{ form_row(newArticleForm.image) }}
									{{ form_row(newArticleForm.category) }}
									<div class="text-center">
										<button type="submit" class="btn main-color white-text btn-lg">Ajouter</button>
									</div>
									{{ form_end(newArticleForm) }}
								</div>

							</div>
						</div>
						<!--/Form with header-->

					</div>
				</div>
			</div>
		</div>
		{% include "components/_footer.html.twig" %}
{% endblock %}
