{% extends 'base.html.twig' %}

{% block title %}Show article
{% endblock %}

{% block body %}

	{% include 'components/_navbar.html.twig'%}


	<div class="container h-100">
		<div class="row mx-auto">
			<div class="col">
				{% include "components/_errors.html.twig" %}

				<h1 class="mt-5">Article n°
					{{ article.id }}</h1>
				<div
					class="card mt-5 card-article" style="height:400px;">

					<!-- Card image -->
					<img
					class="card-img-top" src="{{ article.image}}" alt="Card image cap">

					<!-- Card content -->
					<div
						class="card-body white-text">

						<!-- Title -->
						<h4 class="card-title">
							<a>{{article.title}}</a>
						</h4>
						<!-- Text -->
						<p class="card-text">
							<div class="chip">
								<img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="Contact Person">
								@{{article.author.pseudo}}
							</div>
						</p>
						<p class="card-text">Crée le
							{{article.datePublication | date("d/m/Y à H:s")}}</p>
						<p class="card-text">Catégorie :
							<span>{{article.category}}</span>
						</p>
						<p class="card-text">{{article.content}}</p>
						<!-- Button -->


					</div>

				</div>


			</div>

		</div>
		<div class="row mx-auto">
			<div class="col-4">
				<div class="media m-3">
					<div class="media mt-3 shadow-textarea">
						<img class="d-flex rounded-circle avatar z-depth-1-half mr-3" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="Generic placeholder image">
						<div class="media-body">
							<h5 class="mt-0 font-weight-bold blue-text">{{app.user.pseudo}}</h5>
							<form method="post" name="new_comment_form" action="{{path('add_comment')}}">
								<div class="form-group basic-textarea rounded-corners">
									<textarea class="form-control z-depth-1" rows="3" name="content" placeholder="Ecrit ton commentaire..."></textarea>
								</div>
								<input type="hidden" name="article_id" value="{{ article.id }}"></input>
							<button type="submit" class="btn btn-primary btn-md">Envoyer</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="media m-3 pl-5">
				<div class="media mt-3 shadow-textarea d-flex flex-column">
					{% for comment in comments %}
						<div class="d-flex mb-3">
							<img class="d-flex rounded-circle avatar z-depth-1-half mr-3" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" height='48px' alt="Generic placeholder image">
							<div class="media-body">
								<h5 class="mt-0 font-weight-bold blue-text">{{comment.author_id == app.user.id ? 'Moi' : comment.pseudo }}
									<small style="color: #b7b7b7;">{{comment.date_publication | date("d/m/Y à H:s")}}
									</small>
								</h5>
								<div class="form-group basic-textarea rounded-corners d-flex">
									<p>{{comment.content}}</p>
                                    {% if app.user.id == comment.author_id %}
                                         <a class="ml-3 red-text" href="{{ path('delete_comment', {'id':comment.id}) }}">Supprimer</a>
                                    {% endif %}
								</div>
							</div>
						</div>
					{% endfor %}

				</div>

			</div>
		</div>
	</div>
</div>
{% include "components/_footer.html.twig" %}{% endblock %}

