{% extends 'base.html.twig' %}

{% block title %}Show article{% endblock %}

{% block body %}

{% include 'components/_navbar.html.twig'%}




<div class="container" style="min-height:100vh">

		<div class="row mx-auto">
			<div class="col">
			   {% include "components/_errors.html.twig" %}
			   <h1 class="mt-5">Mes articles</h1>
            {% for article in articles %}
                
             
				<div key={{article.id}}
					class="card mt-5 card-article">

					<!-- Card image -->
					<img
					class="card-img-top" src="{{article.image}}" alt="Card image cap">

					<!-- Card content -->
					<div
						class="card-body white-text">

						<!-- Title -->
						<h4 class="card-title">
							<a>{{article.title|length > 60 ? article.title|slice(0, 60) ~ '...' : article.title}}</a>
						</h4>
						<!-- Text -->
						<p class="card-text"><div class="chip">
									<img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="Contact Person">
									@{{article.author.pseudo}}
								</div></p>
                        <p class="card-text">Crée le {{article.datePublication | date('d/m/Y à h:s') }}</p>
                        <p class="card-text">Catégorie : <span>{{article.category}}</span></p>
                        <p class="card-text">{{ article.content|length > 50 ? article.content|slice(0, 50) ~ '...' : article.content  }}</p>
						<!-- Button -->
						<a href="{{ path('show_article', {'id':article.id}) }}" class="btn btn-primary">En savoir plus</a>
						<a href="{{ path('edit', {'id':article.id}) }}" class="btn btn-secondary">Editer</a>
						<a href="{{ path('delete',{'id':article.id}) }}" class="btn btn-danger">Supprimer</a>


					</div>

				</div>
                {% endfor %}
			</div>

		</div>
	</div>


{% include "components/_footer.html.twig" %}
{% endblock %}