<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenu sur WikiSkills!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/css/mdb.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        {% block body %}
           
      
        {% include "components/_footer.html.twig" %}
        {% endblock %}
        {% block javascripts %}
        
        <script type="text/javascript" src="{{ asset('bundles/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/popper.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/mdb.js') }}"></script>
        {% endblock %}
    </body>
</html>
