<div id="error-messages">
{% for message in app.flashes('success') %}
	<div class="alert alert-success mt-3">
		{{ message }}
	</div>
{% endfor %}
{% for message in app.flashes('danger') %}
	<div class="alert alert-danger mt-3">
		{{ message }}
	</div>
{% endfor %}
{% for message in app.flashes('info') %}
	<div class="alert alert-info mt-3">
		{{ message }}
	</div>
{% endfor %}
</div>

{% block javascripts %}
<script>
var errorList = document.querySelector("#error-messages");
var errorsEl = errorList.querySelectorAll(".alert");

errorsEl.forEach(function(error) {
 setTimeout(function(){ error.style = "display:none"}, 2000);

});
</script>

{% endblock %}
