<nav class="col-md-2 d-none d-md-block position-fixed sidebar" style="z-index: 1;
		    right: 0">
	<div class="sidebar-sticky">
		<h3 class"category-title">Catégories</h3>
		<div class="checkbox-group">
			{% for category in categories %}
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value={{category.id}} id={{category.id}}>
					<label class="form-check-label" for={{category.id}}>
						{{category.name}}
					</label>
				</div>
			{% endfor %}
		</div>
		<h3>Recherche par:</h3>
		<div class="radio-panel">
			<div class="custom-control custom-radio">
				<input type="radio" class="custom-control-input" id="author" name="radio-sidebar">
				<label class="custom-control-label" for="author">Auteur</label>
			</div>

			<!-- Default checked -->
			<div class="custom-control custom-radio">
				<input type="radio" class="custom-control-input" id="title" name="radio-sidebar">
				<label class="custom-control-label" for="title">Titre</label>
			</div>
		</div>


		<h3 class="date-title">Date</h3>
		<div>
			<input id="date" type="date" value="" placeholder="dd.mm.yyyy">
		</div>
		<div class="text-center mt-5">
			<button type="submit" class="btn main-color white-text btn-lg">Rechercher</button>
		</div>
	</div>
</nav>
