<!-- Footer -->
<footer class="page-footer font-small main-color mt-5" style="position: relative;
    z-index: 2;">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="{{path('accueil')}}"> WikiSkills - Institut G4</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->