<header>
	<nav class=" navbar navbar-expand-lg navbar-dark main-color" style="z-index:2;">
		<div class="container">
			<a class="navbar-brand" href="{{ path('accueil') }}">Wikiskills</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333" aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent-333">
				<ul class="navbar-nav mr-auto">

					{% if app.user %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('show') }}">Mes articles</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('new') }}">Publier un article</a>
						</li>
					{% elseif not app.user %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
        <ul class="navbar-nav ml-auto nav-flex-icons">
					{% if app.user %}
						<li class="nav-item dropdown">
							
							<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-user"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
								<a class="dropdown-item" href="#">Mon compte</a>
								<a class="dropdown-item" href="#">Modifier mon mot de passe</a>
								<a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
							</div>
						</li>
					{% endif %}
				</ul>
	</nav>
</header>
